*

!updater.json
!.cargo/
!.cargo/**
!.github/
!.github/**

# Backend

!Cargo.toml
!Cargo.lock
/target/

!src-tauri/
!src-tauri/**
src-tauri/binaries/
src-tauri/icons/
src-tauri/libs/
src-tauri/target/

# Frontend
!ui/
!ui/**
ui/node_modules/
ui/coverage/
ui/dist/
ui/images/
.gitnexus
