*

!updater.json
!.cargo/
!.cargo/**
!.github/
!.github/**

# Installer (custom NSIS template)
!installer/
!installer/**

# Backend

!Cargo.toml
!Cargo.lock
!rust-toolchain.toml
/target/

!src-tauri/
!src-tauri/**
src-tauri/binaries/
src-tauri/icons/
src-tauri/libs/
!src-tauri/libs/mpv.lib
src-tauri/target/

# Frontend
!ui/
!ui/**
ui/node_modules/
ui/coverage/
ui/dist/
ui/images/
.gitnexus
